* {
    font-family: 'Super Enjoy', sans-serif;
}


@font-face {
    font-family: 'Super Enjoy';
    src: url('Font/Super\ Enjoy.ttf') format('truetype');
}



 body {
    background-color: #fdf0d5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.image-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-bottom: 70px;
    margin-top: 1px;
}
  
.image-container img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

#select {
    color: #003d5b;
    font-size: 25px;

}

#difficultyForm {
    color: #003d5b;
    font-size: 30px;
}

#Score {
    color: #30638e;
    font-size: 25px;
    font-stretch: expanded;
}


table {
    border: 7px solid #30638e;
    margin-top: 20px;
    border-radius: 10px;
    color: #d1495b;
}

td {
    width: 70px;
    height: 70px;
    border: 2px solid #00798c;
    text-align: center;
    font-size: 40px;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#startButton {
    margin-top: 10px;
}

.strtbtn {
    margin-top: 10px;
    display: block;
    margin: 20px auto;
    width: fit-content;
    border: 1px solid #d1495b;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    color: #d1495b;
    transition: background-color 0.5s;
}

.strtbtn:hover{
    background: #d1495b;
    color: #FEFAE0;
}

#okButton {
    margin-top: 10px;
    display: block;
    margin: 15px auto;
    width: fit-content;
    border: 1px solid #d1495b;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    color: #d1495b;
    transition: background-color 0.5s;
}

#okButton:hover{
    background: #d1495b;
    color: #FEFAE0;
}

/*
#ticTacToeGrid {
    border-radius: 50px;
    color: #8657bb;
  }
  
#ticTacToeGrid td {
    width: 60px;
    height: 60px; 
    border: 10px solid #00798c;
    text-align: center; 
    font-size: 30px;
    border-radius: 50px;
  }
  
#ticTacToeGrid td.symbol {
    color: #d1495b; 
}
